/* General */

ul {
    list-style: none;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.one-third {
    width: 33%;
}

.two-thirds {
    width: 66%;
}

/* Menu */

#menu {
    width: 100%;
    display:table;
    text-align: center;
    background: black;
    color: white;
    padding: 1em;
    margin: 0;
}

#menu li {
    display: inline-block;
    padding: 0 1em;
}

/* Intro @ index.html */

#intro {
    margin-top: 2em;
}

#intro>div  {
    display: inline-block;
}

#intro>div:first-child {
    text-align: right;
}

#intro>div:first-child img {
    width: 20%;
    border-radius: 50%;
    margin: 1em;
}

#intro>div:last-child div {
    margin-left: 3em;
}

/* Footer */

#footer {
    padding: 3em 0;
    background: black;
    color: white;
}

/* Footer - Social*/

#social ul {
    text-align: center;
}

#social ul li {
    display: inline-block;
    margin: 0 3em;
}

#social img {
    width: 75%;
}

#social ul li a {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}

#social ul li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

#social ul li a::after {
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

#social ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}