.divider {
    height: 2px;
    background: #ececec;
    margin: 4px 0;
}

.divider.half {
    width: 50%;
}

.hover-grayscale {
    transition: filter 0.2s cubic-bezier(0, 0, 0, 1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.hover-grayscale:hover {
    -webkit-filter: none;
    filter: none;
}

.banner p {
    background: #555;
    color: #fff;
    padding: 10px;
}